:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #f9f7fe;
  --secondary-color: #272142;
  --tertiary-color: #6c63ff;
  --quaternary-color: #212529;
  --quinary-color: rgba(39, 33, 66, 0.7);
}

h1 {
  font-family: var(--primary-font);
  font-size: 96px;
  font-weight: bold;
}

.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 160px 20px;
}

.hero p {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 0;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: normal;
  color: var(--secondary-color);
  line-height: 2;
  padding-bottom: 48px;
}
.contact-button {
  background: var(--tertiary-color);
  color: #ffffff;
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 27px;
  font-weight: 400px;
  border-radius: 4px;
  padding: 15px 30px;
}
.contact-button:hover {
  background: var(--tertiary-color);
  color: var(--quaternary-color);
}
.featured p {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  text-align: center;
  margin: 48px;
  color: var(--secondary-color);
}
.project-description {
  padding: 10px 50px;
}
.project-description h2 {
  font-family: var(--primary-font);
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
}
.project-description p {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--quinary-color);
}
.description-button {
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.description-button:hover {
  color: var(--quaternary-color);
  border: 1px solid var(--tertiary-color);
}
.description-image {
  padding-right: 10px;
}
.hidden {
  display: none;
}
.project-2-padding {
  padding-bottom: 36px;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-family: var(--primary-font);
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 24px;
}
.hi-section {
  font-family: var(--primary-font);
  font-size: 44px;
  font-weight: bold;
}
.about-section h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  margin-bottom: 24px;
}

.about-section p {
  font-size: 14px;
  font-weight: normal;
  font-family: var(--secondary-font);
  margin-bottom: 48px;
  color: var(--quinary-color);
  line-height: 1.7;
}

.about-image {
  border-radius: 10px;
}

.about-content {
  padding: 0 30px;
}

.work-section {
  padding: 160px 60px;
}

.work-section h1 {
  font-size: 64px;
  font-family: var(--primary-font);
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 48px;
}

.work-section h3 {
  font-size: 24px;
  font-family: var(--secondary-font);
  font-weight: bold;
  line-height: 1.5;
  margin-top: 16px;
  text-align: center;
}

.work-section p {
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
  color: var(--quinary-color);
}

.work-image {
  border-radius: 6px;
}

.work-content {
  padding-bottom: 24px;
}

.contact-section {
  padding: 160px 150px;
}

.contact-section h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--primary-font);
  font-weight: bold;
  margin-bottom: 48px;
}

.contact-section h3 {
  font-size: 24px;
  font-family: var(--secondary-font);
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 8px;
}

.contact-section p {
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 16px;
}

@media (max-width: 900px) {
  .hero {
    padding: 60px 0;
  }
  .hero p {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .about-section {
    padding: 60px 0;
    text-align: center;
  }

  .work-section {
    padding: 60px 0;
    text-align: center;
  }

  h1 {
    font-size: 46px;
  }
  .work-section h1 {
    font-size: 46px;
    line-height: 1.5;
  }
  .hero h2 {
    font-size: 16px;
    line-height: 1;
    padding-top: 5px;
    padding-bottom: 24px;
  }
  .featured p {
    margin: 24px;
  }
  .project-description h2 {
    font-size: 40px;
    text-align: center;
  }
  .description-button {
    display: block;
    text-align: center;
  }
  .about-image {
    margin-top: 50px;
    max-width: 80%;
  }
}
@media (max-width: 375px) {
  .project-description h2 {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .active {
    display: none;
  }
  .hidden {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .description-image {
    padding-top: 100px;
  }
  .project-description h2 {
    font-size: 50px;
    line-height: 65px;
  }
  .project-description p {
    font-size: 14px;
  }
}
